<div class="container2">
    


    <form method="POST" action="/" class="form" role="form" style="border-style: solid; border-radius: 25px;"> 

        <div class="form-group  required" style="padding: 20px;">
            <input type="text" name="query" style="align-items: center;">
        <br><br>
        <input class="btn-btn-primary" type="submit" name="action" value="Ricerca Museo">
        <input class="btn-btn-primary" type="submit" name="action" value="Ricerca autori in una determinata città">
        <input class="btn-btn-primary" type="submit" name="action" value="Ricerca elementi in una determinata città">
        <br><br>
        <input class="btn-btn-primary" type="submit" name="action" value="Ricerca autori esclusivi di un museo">
        <input class="btn-btn-primary" type="submit" name="action" value="Distribuzione delle opere di un autore nei musei">
        <input class="btn-btn-primary" type="submit" name="action" value="Musei ed opere di tutte le città">

        </div>



   </form>

</div>
